body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

section.user-post-container-fake {
  display: flex;
  justify-content: center;
}
section.user-post-container-fake .user-post-fake {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 10px 10px 0 0;
  width: 600px;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
section.user-post-container-fake .user-post-fake .post-form-fake {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
section.user-post-container-fake .user-post-fake .post-form-fake .user-info-fake {
  display: flex;
  align-items: center;
}
section.user-post-container-fake .user-post-fake .post-form-fake .user-info-fake .profile-pic {
  font-size: 40px;
  color: #d7d7d7;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  color: #d7d7d7;
  border-radius: 50%;
  margin-right: 10px;
}
section.user-post-container-fake .user-post-fake .post-form-fake .input-text-fake {
  width: 70%;
  padding-left: 10px;
  border: none;
  border-radius: 8px;
}
section.user-post-container-fake .user-post-fake .post-form-fake .send-button-fake {
  background-color: white;
  font-weight: bold;
  border: 1px solid #ccd0d5;
  border-radius: 8px;
  color: #303030;
  padding: 8px 15px;
  cursor: pointer;
}
section.user-post-container-fake .user-post-fake .post-form-fake .send-button-fake:hover {
  background-color: #ebebeb;
}

section.postsContainer .indivisial-area {
  display: flex;
  justify-content: center;
}
section.postsContainer .indivisial-area .post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "content" "stats";
  background-color: #fff;
  border: 1px solid #e1e4e8;
  width: 600px;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
section.postsContainer .indivisial-area .post .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
section.postsContainer .indivisial-area .post .post-header .user-info-post {
  display: flex;
  align-items: center;
}
section.postsContainer .indivisial-area .post .post-header .user-info-post .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 40px;
  color: #d7d7d7;
  margin-right: 10px;
}
section.postsContainer .indivisial-area .post .post-header .user-info-post a:link {
  text-decoration: none;
}
section.postsContainer .indivisial-area .post .post-header .user-info-post a:hover {
  color: rgb(110, 110, 110);
}
section.postsContainer .indivisial-area .post .post-header .user-info-post .account_id {
  font-size: 16px;
  color: #424242;
  font-weight: bold;
}
section.postsContainer .indivisial-area .post .post-header .menu-button {
  position: relative;
  cursor: pointer;
}
section.postsContainer .indivisial-area .post .post-header .menu-button i {
  font-size: 20px;
  color: #9b9b9b;
}
section.postsContainer .indivisial-area .post .post-header .menu-button:hover {
  background-color: #d2d2d2;
}
section.postsContainer .indivisial-area .post .post-header .menu-button .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  width: 150px;
}
section.postsContainer .indivisial-area .post .post-header .menu-button .dropdown-menu .menu-item {
  padding: 10px;
  cursor: pointer;
  text-align: left;
}
section.postsContainer .indivisial-area .post .post-header .menu-button .dropdown-menu .menu-item:hover {
  background-color: #f0f0f0;
}
section.postsContainer .indivisial-area .post .post-header .menu-button .dropdown-menu .menu-item#delete-post {
  color: red;
}
section.postsContainer .indivisial-area .post .post-content {
  font-size: 14px;
  color: #424242;
  margin-bottom: 10px;
  padding-left: 50px;
}
section.postsContainer .indivisial-area .post .post-content .text {
  margin-bottom: 10px;
}
section.postsContainer .indivisial-area .post .post-content .media img,
section.postsContainer .indivisial-area .post .post-content .media video {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  width: auto;
  border-radius: 10px;
}
section.postsContainer .indivisial-area .post .post-stats {
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  color: #666;
  gap: 20px;
}
section.postsContainer .indivisial-area .post .post-stats .stat {
  display: flex;
  align-items: center;
  gap: 10px;
}
section.postsContainer .indivisial-area .post .post-stats .stat i {
  font-size: 20px;
}
section.postsContainer .indivisial-area .post .post-stats .stat span {
  margin-right: 5px;
  font-size: 14px;
}

.stat {
  cursor: pointer;
  transition: color 0.2s;
  transition: transform 0.2s ease;
}
.stat:hover {
  color: #252525;
}
.stat i {
  color: #c4c4c4;
  transition: color 0.3s;
}
.stat:hover i {
  color: #777777;
}
.stat:active {
  transform: scale(1.3);
}

.media img[src=""],
.text:null {
  display: none;
}

audio {
  width: 100%;
}

section.create-poster-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
section.create-poster-card .create-poster-container {
  position: relative;
}
section.create-poster-card .create-poster-container .modal-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}
section.create-poster-card .create-poster-container .post-form {
  position: relative;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 610px;
  display: grid;
  grid-template-columns: 1fr;
}
section.create-poster-card .create-poster-container .post-form .form-header {
  display: flex;
  align-items: center;
  padding: 10px;
}
section.create-poster-card .create-poster-container .post-form .form-header .profile-pic {
  font-size: 40px;
  color: #d7d7d7;
  border-radius: 50%;
  margin-right: 10px;
}
section.create-poster-card .create-poster-container .post-form .form-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 40px;
  color: #d7d7d7;
  border-radius: 50%;
  margin-right: 10px;
}
section.create-poster-card .create-poster-container .post-form .form-header .account_id {
  font-size: 16px;
  color: #424242;
  font-weight: bold;
}
section.create-poster-card .create-poster-container .post-form .media-preview {
  border: none;
  margin-left: 50px;
  outline: none;
  resize: none;
}
section.create-poster-card .create-poster-container .post-form .post-input {
  padding: 10px;
  border: none;
  margin-left: 50px;
  outline: none;
  resize: none;
}
section.create-poster-card .create-poster-container .post-form .form-actions {
  display: flex;
  margin-left: 50px;
}
section.create-poster-card .create-poster-container .post-form .form-actions .action-btn,
section.create-poster-card .create-poster-container .post-form .form-actions .submit-btn {
  border: none;
  background: transparent;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}
section.create-poster-card .create-poster-container .post-form .form-actions .action-btn i,
section.create-poster-card .create-poster-container .post-form .form-actions .submit-btn i {
  font-size: 16px;
  color: #989898;
}
section.create-poster-card .create-poster-container .post-form .form-actions .action-btn i:hover,
section.create-poster-card .create-poster-container .post-form .form-actions .submit-btn i:hover {
  color: #676767;
}
section.create-poster-card .create-poster-container .post-form .create-submit {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
section.create-poster-card .create-poster-container .post-form .create-submit .submit-post-btn {
  background: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
section.create-poster-card .create-poster-container .post-form .create-submit .submit-post-btn:hover {
  background-color: #ebebeb;
}

#preview {
  margin-top: 10px;
}

#preview img,
#preview video,
#preview audio {
  max-width: 100%;
  height: auto;
}

header.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 100%;
  padding: 10px;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  z-index: 1000;
}
header.navigation div.navi-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header.navigation div.navi-content .logo {
  z-index: 1000;
  font-size: 40px;
  color: #5e5e5e;
  transition: transform 0.2s ease;
}
header.navigation div.navi-content .logo:hover {
  color: #999999;
}
header.navigation div.navi-content .logo:active {
  transform: scale(1.2);
}
header.navigation div.navi-content div.header-button-area {
  margin-left: auto;
}
header.navigation div.navi-content div.header-button-area .header-2-buttons-area {
  display: flex;
  gap: 10px;
}
header.navigation div.navi-content div.header-button-area .header-2-buttons-area button {
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #828282;
  background: #f5f5f5;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  margin-right: 20px;
}
header.navigation div.navi-content div.header-button-area .header-2-buttons-area button:hover {
  background-color: #dbdbdb;
}

section.main-sider-area {
  width: 100%;
  position: fixed;
}
section.main-sider-area div.main-sider {
  display: flex;
  align-items: center;
}
section.main-sider-area div.main-sider .sidebar {
  position: fixed;
  left: 0;
  top: 40px;
  width: 80px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-top: 30px;
}
section.main-sider-area div.main-sider .sidebar .icon {
  color: #b0b0b0;
  font-size: 25px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
section.main-sider-area div.main-sider .sidebar .icon:hover {
  color: #747474;
}
section.main-sider-area div.main-sider .sidebar .icon:active {
  transform: scale(1.2);
}

.create-post-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 90px;
  height: 70px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}
.create-post-btn:hover {
  background-color: #f8f8f8;
}

section.postsContainer .indivisial-area {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
section.postsContainer .indivisial-area .post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "content" "stats";
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 0;
  width: 600px;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
section.postsContainer .indivisial-area .post .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
section.postsContainer .indivisial-area .post .post-header .user-info-post {
  display: flex;
  align-items: center;
}
section.postsContainer .indivisial-area .post .post-header .user-info-post .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 40px;
  color: #d7d7d7;
  margin-right: 10px;
}
section.postsContainer .indivisial-area .post .post-header .user-info-post a:link {
  text-decoration: none;
}
section.postsContainer .indivisial-area .post .post-header .user-info-post a:hover {
  color: rgb(110, 110, 110);
}
section.postsContainer .indivisial-area .post .post-header .user-info-post .account_id {
  font-size: 16px;
  color: #424242;
  font-weight: bold;
}
section.postsContainer .indivisial-area .post .post-header .menu-button {
  position: relative;
  cursor: pointer;
}
section.postsContainer .indivisial-area .post .post-header .menu-button i {
  font-size: 20px;
  color: #9b9b9b;
}
section.postsContainer .indivisial-area .post .post-header .menu-button:hover {
  background-color: #d2d2d2;
}
section.postsContainer .indivisial-area .post .post-header .menu-button .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  width: 150px;
}
section.postsContainer .indivisial-area .post .post-header .menu-button .dropdown-menu .menu-item {
  padding: 10px;
  cursor: pointer;
  text-align: left;
}
section.postsContainer .indivisial-area .post .post-header .menu-button .dropdown-menu .menu-item:hover {
  background-color: #f0f0f0;
}
section.postsContainer .indivisial-area .post .post-header .menu-button .dropdown-menu .menu-item#delete-post {
  color: red;
}
section.postsContainer .indivisial-area .post .post-content {
  font-size: 14px;
  color: #424242;
  margin-bottom: 10px;
  padding-left: 50px;
}
section.postsContainer .indivisial-area .post .post-content .text {
  margin-bottom: 10px;
}
section.postsContainer .indivisial-area .post .post-content .media img,
section.postsContainer .indivisial-area .post .post-content .media video {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  width: auto;
  border-radius: 10px;
}
section.postsContainer .indivisial-area .post .post-stats {
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  color: #666;
  gap: 20px;
}
section.postsContainer .indivisial-area .post .post-stats .stat {
  display: flex;
  align-items: center;
  gap: 10px;
}
section.postsContainer .indivisial-area .post .post-stats .stat i {
  font-size: 20px;
}
section.postsContainer .indivisial-area .post .post-stats .stat span {
  margin-right: 5px;
  font-size: 14px;
}

.signin-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  z-index: 1000;
}
.signin-mask form.signin {
  height: 275px;
  width: 340px;
  box-shadow: 0px 4px 60px 0px #aaaaaa;
  border-radius: 6px;
  margin: 0 auto;
}
.signin-mask form.signin .sign-content {
  background: #f0f4f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.signin-mask form.signin .sign-content .decorator-bar {
  height: 10px;
  background: linear-gradient(270deg, #a8a8a8 0%, #c2c2c2 100%);
  border-radius: 6px 6px 0px 0px;
  margin-bottom: 20px;
}
.signin-mask form.signin .sign-content .close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.signin-mask form.signin .sign-content .close .close-signin {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.signin-mask form.signin .sign-content .close .close-signin img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: -5px;
  transition: transform 0.1s ease-in-out;
}
.signin-mask form.signin .sign-content .close .close-signin img:active {
  transform: scale(1.2);
}
.signin-mask form.signin .sign-content .close h1 {
  color: #666666;
  font-size: 24px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  font-family: Noto Sans TC;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
.signin-mask form.signin .sign-content .main {
  padding: 15px;
}
.signin-mask form.signin .sign-content .main input[type=email],
.signin-mask form.signin .sign-content .main input[type=text],
.signin-mask form.signin .sign-content .main input[type=password] {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #757575;
}
.signin-mask form.signin .sign-content .main input[type=email]:focus,
.signin-mask form.signin .sign-content .main input[type=text]:focus,
.signin-mask form.signin .sign-content .main input[type=password]:focus {
  border-color: #757575;
  outline: none;
}
.signin-mask form.signin .sign-content .main .signin-button,
.signin-mask form.signin .sign-content .main .go-to-signup {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #a8a8a8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signin-mask form.signin .sign-content .main .signin-button:hover,
.signin-mask form.signin .sign-content .main .go-to-signup:hover {
  background-color: #777575;
}
.signin-mask form.signin .sign-content .main .go-to-signup {
  background-color: #f0f4f8;
  color: #666666;
  text-decoration: none;
}
.signin-mask form.signin .sign-content .main .go-to-signup:hover {
  background-color: #dae0e5;
}

.signup-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  z-index: 1000;
}
.signup-mask form.signup {
  width: 340px;
  height: auto;
  box-shadow: 0px 4px 60px 0px #aaaaaa;
  border-radius: 6px;
  margin: 0 auto;
  background: #f0f4f8;
}
.signup-mask form.signup .signup-content {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.signup-mask form.signup .signup-content .decorator-bar {
  height: 10px;
  background: linear-gradient(270deg, #a8a8a8 0%, #c2c2c2 100%);
  border-radius: 6px 6px 0 0;
  margin-bottom: 20px;
}
.signup-mask form.signup .signup-content .close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.signup-mask form.signup .signup-content .close button.close-signup {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.signup-mask form.signup .signup-content .close button.close-signup img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: -5px;
  transition: transform 0.1s ease-in-out;
}
.signup-mask form.signup .signup-content .close button.close-signup img:active {
  transform: scale(1.2);
}
.signup-mask form.signup .signup-content .close h1 {
  color: #666666;
  font-size: 24px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  font-family: Noto Sans TC;
  font-weight: 300;
  line-height: 24px;
}
.signup-mask form.signup .signup-content .main {
  padding: 15px;
}
.signup-mask form.signup .signup-content .main input[type=email],
.signup-mask form.signup .signup-content .main input[type=text],
.signup-mask form.signup .signup-content .main input[type=password] {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #757575;
}
.signup-mask form.signup .signup-content .main input[type=email]:focus,
.signup-mask form.signup .signup-content .main input[type=text]:focus,
.signup-mask form.signup .signup-content .main input[type=password]:focus {
  border-color: #757575;
  outline: none;
}
.signup-mask form.signup .signup-content .main .signup-button,
.signup-mask form.signup .signup-content .main .go-to-signin {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #a8a8a8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signup-mask form.signup .signup-content .main .signup-button:hover,
.signup-mask form.signup .signup-content .main .go-to-signin:hover {
  background-color: #777575;
}
.signup-mask form.signup .signup-content .main .go-to-signin {
  background-color: #f0f4f8;
  color: #666666;
  text-decoration: none;
}
.signup-mask form.signup .signup-content .main .go-to-signin:hover {
  background-color: #dae0e5;
}

section.member-self-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
section.member-self-area .profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  padding: 20px 20px 0 20px;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  width: 600px;
}
section.member-self-area .profile-header .profile-info {
  display: flex;
  justify-content: center;
  margin: 10px;
}
section.member-self-area .profile-header .profile-info .profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
section.member-self-area .profile-header .profile-info .profile-avatar .profile-pic {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 80px;
  color: #d7d7d7;
  border-radius: 50%;
  margin-right: 10px;
}
section.member-self-area .profile-header .profile-info .profile-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.member-self-area .profile-header .profile-info .profile-details {
  flex-grow: 1;
}
section.member-self-area .profile-header .profile-info .profile-details .user-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
section.member-self-area .profile-header .profile-info .profile-details .user-account-id {
  font-size: 16px;
  color: #888;
}
section.member-self-area .profile-header .profile-info .profile-details .user-fans {
  margin: 10px 0;
}
section.member-self-area .profile-header .profile-info .profile-details .user-fans p {
  margin: 0;
}
section.member-self-area .profile-header .follow-profile-button {
  margin: 10px;
}
section.member-self-area .profile-header .follow-profile-button button {
  width: 100%;
  padding: 5px 10px;
  font-weight: 500;
  border: 0.5px solid #2d2d2d;
  border-radius: 5px;
  color: #ffffff;
  background: #2d2d2d;
  cursor: pointer;
  transition: color 0.2s;
  transition: transform 0.2s ease;
}
section.member-self-area .profile-header .follow-profile-button button:hover {
  background: #f2f2f2;
  color: #2d2d2d;
  border: 0.5px solid #f2f2f2;
}
section.member-self-area .profile-header .follow-profile-button button:active {
  transform: scale(1.1);
}
section.member-self-area .profile-header .edit-profile-button {
  margin: 10px;
}
section.member-self-area .profile-header .edit-profile-button button {
  width: 100%;
  padding: 5px 10px;
  font-weight: 500;
  border: 0.5px solid #dbdbdb;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  transition: color 0.2s;
  transition: transform 0.2s ease;
}
section.member-self-area .profile-header .edit-profile-button button:hover {
  background: #f2f2f2;
}
section.member-self-area .profile-header .edit-profile-button button:active {
  transform: scale(1.1);
}
section.member-self-area .profile-header .profile-nav {
  display: flex;
  justify-content: center;
}
section.member-self-area .profile-header .profile-nav .nav-button {
  width: 100%;
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  border-bottom: 1px solid transparent;
  transition: color 0.2s;
  transition: transform 0.2s ease;
}
section.member-self-area .profile-header .profile-nav .nav-button.active {
  border-bottom-color: #333;
  font-weight: bold;
}
section.member-self-area .profile-header .profile-nav .nav-button:hover {
  color: #333;
}
section.member-self-area .profile-header .profile-nav .nav-button:active {
  transform: scale(1.1);
}

.edit-profile-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.edit-profile-modal .edit-profile-content {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 20px;
  text-align: center;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .name-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group {
  margin-bottom: 10px;
  text-align: left;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group input[type=text],
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group textarea {
  resize: none;
  height: 60px;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group.name-avatar {
  display: flex;
  justify-content: space-between;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group.name-avatar .name {
  flex: 1;
  margin-right: 20px;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group.name-avatar .edit-profile-avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group.name-avatar .edit-profile-avatar .profile-pic,
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group.name-avatar .edit-profile-avatar .avatar-img {
  font-size: 50px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  object-fit: cover;
  color: #d7d7d7;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group.privacy-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group.privacy-toggle label {
  margin: 0;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .form-group.privacy-toggle input[type=checkbox] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .save-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #949494;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
.edit-profile-modal .edit-profile-content .edit-profile-form .save-button:hover {
  background-color: #c1c1c1;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loading-overlay .loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #777777;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

section.single-postsContainer .indivisial-area {
  display: flex;
  justify-content: center;
}
section.single-postsContainer .indivisial-area .post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "content" "stats";
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 10px 10px 0 0;
  width: 600px;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
section.single-postsContainer .indivisial-area .post .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
section.single-postsContainer .indivisial-area .post .post-header .user-info-post {
  display: flex;
  align-items: center;
}
section.single-postsContainer .indivisial-area .post .post-header .user-info-post .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 40px;
  color: #d7d7d7;
  margin-right: 10px;
}
section.single-postsContainer .indivisial-area .post .post-header .user-info-post a:link {
  text-decoration: none;
}
section.single-postsContainer .indivisial-area .post .post-header .user-info-post a:hover {
  color: rgb(110, 110, 110);
}
section.single-postsContainer .indivisial-area .post .post-header .user-info-post .account_id {
  font-size: 16px;
  color: #424242;
  font-weight: bold;
}
section.single-postsContainer .indivisial-area .post .post-header .menu-button {
  position: relative;
  cursor: pointer;
}
section.single-postsContainer .indivisial-area .post .post-header .menu-button i {
  font-size: 20px;
  color: #9b9b9b;
}
section.single-postsContainer .indivisial-area .post .post-header .menu-button:hover {
  background-color: #d2d2d2;
}
section.single-postsContainer .indivisial-area .post .post-header .menu-button .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  width: 150px;
}
section.single-postsContainer .indivisial-area .post .post-header .menu-button .dropdown-menu .menu-item {
  padding: 10px;
  cursor: pointer;
  text-align: left;
}
section.single-postsContainer .indivisial-area .post .post-header .menu-button .dropdown-menu .menu-item:hover {
  background-color: #f0f0f0;
}
section.single-postsContainer .indivisial-area .post .post-header .menu-button .dropdown-menu .menu-item#delete-post {
  color: red;
}
section.single-postsContainer .indivisial-area .post .post-content {
  font-size: 14px;
  color: #424242;
  margin-bottom: 10px;
  padding-left: 50px;
}
section.single-postsContainer .indivisial-area .post .post-content .text {
  margin-bottom: 10px;
}
section.single-postsContainer .indivisial-area .post .post-content .media img,
section.single-postsContainer .indivisial-area .post .post-content .media video {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  width: auto;
  border-radius: 10px;
}
section.single-postsContainer .indivisial-area .post .post-stats {
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  color: #666;
  gap: 20px;
}
section.single-postsContainer .indivisial-area .post .post-stats .stat {
  display: flex;
  align-items: center;
  gap: 10px;
}
section.single-postsContainer .indivisial-area .post .post-stats .stat i {
  font-size: 20px;
}
section.single-postsContainer .indivisial-area .post .post-stats .stat span {
  margin-right: 5px;
  font-size: 14px;
}
section.single-postsContainer .indivisial-area .message {
  border-radius: 0;
}

section.reply-header .reply-title {
  display: flex;
  justify-content: center;
}
section.reply-header .reply-title .reply {
  width: 600px;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

section.single-ReplyContainer .indivisial-area {
  display: flex;
  justify-content: center;
}
section.single-ReplyContainer .indivisial-area .post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "content" "stats";
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 0;
  width: 600px;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
section.single-ReplyContainer .indivisial-area .post .post-header,
section.single-ReplyContainer .indivisial-area .post .reply-area-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
section.single-ReplyContainer .indivisial-area .post .post-header .user-info-post,
section.single-ReplyContainer .indivisial-area .post .post-header .user-info-reply,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .user-info-post,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .user-info-reply {
  display: flex;
  align-items: center;
}
section.single-ReplyContainer .indivisial-area .post .post-header .user-info-post .profile-pic,
section.single-ReplyContainer .indivisial-area .post .post-header .user-info-reply .profile-pic,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .user-info-post .profile-pic,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .user-info-reply .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 40px;
  color: #d7d7d7;
  margin-right: 10px;
}
section.single-ReplyContainer .indivisial-area .post .post-header .user-info-post a:link,
section.single-ReplyContainer .indivisial-area .post .post-header .user-info-reply a:link,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .user-info-post a:link,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .user-info-reply a:link {
  text-decoration: none;
}
section.single-ReplyContainer .indivisial-area .post .post-header .user-info-post a:hover,
section.single-ReplyContainer .indivisial-area .post .post-header .user-info-reply a:hover,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .user-info-post a:hover,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .user-info-reply a:hover {
  color: rgb(110, 110, 110);
}
section.single-ReplyContainer .indivisial-area .post .post-header .user-info-post .account_id,
section.single-ReplyContainer .indivisial-area .post .post-header .user-info-reply .account_id,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .user-info-post .account_id,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .user-info-reply .account_id {
  font-size: 16px;
  color: #424242;
  font-weight: bold;
}
section.single-ReplyContainer .indivisial-area .post .post-header .menu-button,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .menu-button {
  position: relative;
  cursor: pointer;
}
section.single-ReplyContainer .indivisial-area .post .post-header .menu-button i,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .menu-button i {
  font-size: 20px;
  color: #9b9b9b;
}
section.single-ReplyContainer .indivisial-area .post .post-header .menu-button:hover,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .menu-button:hover {
  background-color: #d2d2d2;
}
section.single-ReplyContainer .indivisial-area .post .post-header .menu-button .dropdown-menu,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .menu-button .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  width: 150px;
}
section.single-ReplyContainer .indivisial-area .post .post-header .menu-button .dropdown-menu .menu-item,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .menu-button .dropdown-menu .menu-item {
  padding: 10px;
  cursor: pointer;
  text-align: left;
}
section.single-ReplyContainer .indivisial-area .post .post-header .menu-button .dropdown-menu .menu-item:hover,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .menu-button .dropdown-menu .menu-item:hover {
  background-color: #f0f0f0;
}
section.single-ReplyContainer .indivisial-area .post .post-header .menu-button .dropdown-menu .menu-item#delete-post,
section.single-ReplyContainer .indivisial-area .post .reply-area-header .menu-button .dropdown-menu .menu-item#delete-post {
  color: red;
}
section.single-ReplyContainer .indivisial-area .post .post-content,
section.single-ReplyContainer .indivisial-area .post .reply-content {
  font-size: 14px;
  color: #424242;
  margin-bottom: 5px;
  padding-left: 50px;
}
section.single-ReplyContainer .indivisial-area .post .post-content .text,
section.single-ReplyContainer .indivisial-area .post .reply-content .text {
  margin-bottom: 10px;
}
section.single-ReplyContainer .indivisial-area .post .post-content .media img,
section.single-ReplyContainer .indivisial-area .post .post-content .media video,
section.single-ReplyContainer .indivisial-area .post .reply-content .media img,
section.single-ReplyContainer .indivisial-area .post .reply-content .media video {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  width: auto;
  border-radius: 10px;
}
section.single-ReplyContainer .indivisial-area .post .post-stats,
section.single-ReplyContainer .indivisial-area .post .reply-stats {
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  margin-bottom: 10px;
  color: #666;
  gap: 20px;
}
section.single-ReplyContainer .indivisial-area .post .post-stats .stat,
section.single-ReplyContainer .indivisial-area .post .reply-stats .stat {
  display: flex;
  align-items: center;
  gap: 10px;
}
section.single-ReplyContainer .indivisial-area .post .post-stats .stat i,
section.single-ReplyContainer .indivisial-area .post .reply-stats .stat i {
  font-size: 20px;
}
section.single-ReplyContainer .indivisial-area .post .post-stats .stat span,
section.single-ReplyContainer .indivisial-area .post .reply-stats .stat span {
  margin-right: 5px;
  font-size: 14px;
}
section.single-ReplyContainer .indivisial-area .reply-area {
  border-left: 2px solid #e1e1e1;
  margin-left: 20px;
  padding-left: 20px;
}
section.single-ReplyContainer .indivisial-area .reply-area .reply-arear-header .user-info-reply .reply-account_id {
  color: #cbcbcb;
}
section.single-ReplyContainer .indivisial-area .reply-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 40px;
  color: #d7d7d7;
  margin-right: 10px;
}/*# sourceMappingURL=styles.css.map */