$light-gray: #f0f2f5;
$gray-border: #ccd0d5;
$bg-color: #fff;
$border-color: #e1e4e8;
$font-color: #424242;

body {
  font-family: Arial, sans-serif;
  background-color: $light-gray;
}

section.user-post-container-fake {
  display: flex;
  justify-content: center;
  .user-post-fake {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 10px 10px 0 0;
    width: 600px;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    .post-form-fake {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      .user-info-fake {
        display: flex;
        align-items: center;

        .profile-pic {
          font-size: 40px;
          color: #d7d7d7;
          width: 40px;
          height: 40px;

          object-fit: cover;
          color: #d7d7d7;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      .input-text-fake {
        width: 70%;
        padding-left: 10px;
        border: none;
        border-radius: 8px;
      }

      .send-button-fake {
        background-color: white;
        font-weight: bold;
        border: 1px solid $gray-border;
        border-radius: 8px;
        color: #303030;
        padding: 8px 15px;

        cursor: pointer;
        &:hover {
          background-color: #ebebeb;
        }
      }
    }
  }
}

section.postsContainer {
  .indivisial-area {
    display: flex;
    justify-content: center;

    .post {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "content"
        "stats";

      background-color: $bg-color;
      border: 0.01px solid $border-color;
      // border-radius: 0 0 10px 10px;

      width: 600px;

      padding: 20px;
      box-shadow: 0 0.01px 0.01px rgba(0, 0, 0, 0.1);

      .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .user-info-post {
          display: flex;
          align-items: center;
          .profile-pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            font-size: 40px;
            color: #d7d7d7;

            margin-right: 10px;
          }
          a:link {
            text-decoration: none;
          }
          a:hover {
            color: rgb(110, 110, 110);
          }

          .account_id {
            font-size: 16px;
            color: $font-color;
            font-weight: bold;
          }
        }
        .menu-button {
          position: relative;
          cursor: pointer;

          i {
            font-size: 20px;
            color: #9b9b9b;
          }
          &:hover {
            background-color: #d2d2d2;
          }

          .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            list-style: none;
            padding: 0;
            margin: 0;
            z-index: 1000;
            width: 150px;

            .menu-item {
              padding: 10px;
              cursor: pointer;
              text-align: left;
              &:hover {
                background-color: #f0f0f0;
              }

              &#delete-post {
                color: red;
              }
            }
          }
        }
      }

      .post-content {
        font-size: 14px;
        color: $font-color;
        margin-bottom: 10px;
        padding-left: 50px;
        .text {
          margin-bottom: 10px;
        }
        .media img,
        .media video {
          max-width: 100%;
          max-height: 500px;
          height: auto;
          width: auto;
          border-radius: 10px;
        }
      }
      .post-stats {
        display: flex;
        justify-content: flex-start;
        padding-left: 50px;

        color: #666;
        gap: 20px;

        .stat {
          display: flex;
          align-items: center;
          gap: 10px;
          i {
            font-size: 20px;
          }

          span {
            margin-right: 5px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.stat {
  cursor: pointer;
  transition: color 0.2s;
  transition: transform 0.2s ease;

  &:hover {
    color: #252525;
  }

  i {
    color: #c4c4c4;
    transition: color 0.3s;
  }

  &:hover i {
    color: #777777;
  }
  &:active {
    transform: scale(1.3);
  }
  .fa-heart.liked {
    color: #ff0000; // 紅色愛心
  }
}

.media img[src=""],
.text:null {
  display: none;
}
audio {
  width: 100%;
}

section.create-poster-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .create-poster-container {
    position: relative;
    .modal-title {
      text-align: center;
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: bold;
      color: #ffffff;
    }

    .post-form {
      position: relative;
      padding: 10px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      width: 610px;
      display: grid;
      grid-template-columns: 1fr;

      .form-header {
        display: flex;
        align-items: center;
        padding: 10px;

        .profile-pic {
          font-size: 40px;
          color: #d7d7d7;
          border-radius: 50%;
          margin-right: 10px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          font-size: 40px;
          color: #d7d7d7;
          border-radius: 50%;
          margin-right: 10px;
        }
        .account_id {
          font-size: 16px;
          color: $font-color;
          font-weight: bold;
        }
      }
      .media-preview {
        border: none;
        margin-left: 50px;
        outline: none;
        resize: none;
      }
      .post-input {
        padding: 10px;
        border: none;
        margin-left: 50px;
        outline: none;
        resize: none;
      }

      .form-actions {
        display: flex;
        margin-left: 50px;

        .action-btn,
        .submit-btn {
          border: none;
          background: transparent;

          padding: 6px;
          border-radius: 8px;
          cursor: pointer;

          i {
            font-size: 16px;
            color: #989898;
            &:hover {
              color: #676767;
            }
          }
        }
      }
      .privacy-select {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 60px;
        .privacy-label {
          font-weight: bold;
          margin-bottom: 5px;
          display: block;
          color: #9d9d9d;
        }

        .privacy-options {
          color: #9d9d9d;
          width: 70%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          background-color: #f9f9f9;
        }
      }
      .create-submit {
        position: absolute;
        right: 20px;
        bottom: 20px;
        .submit-post-btn {
          background: #fff;
          color: #333;
          padding: 10px 20px;
          border-radius: 8px;
          border: 1px solid #ccc;
          cursor: pointer;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

          &:hover {
            background-color: #ebebeb;
          }
        }
      }
    }
  }
}

#preview {
  margin-top: 10px;
}

#preview img,
#preview video,
#preview audio {
  max-width: 100%;
  height: auto;
}

header.navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 54px;
  width: 100%;
  padding: 10px;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  z-index: 1000;

  div.navi-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .logo {
      z-index: 1000;
      font-size: 40px;
      color: #5e5e5e;
      transition: transform 0.2s ease;
      &:hover {
        color: #999999;
      }
      &:active {
        transform: scale(1.2);
      }
    }

    div.header-button-area {
      margin-left: auto;
      .header-2-buttons-area {
        display: flex;
        gap: 10px;

        button {
          border-radius: 12px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          color: #828282;
          background: #f5f5f5;
          padding: 10px 20px;

          cursor: pointer;
          border: none;
          margin-right: 20px;
          &:hover {
            background-color: #dbdbdb;
          }
        }
      }
    }
  }
}

section.main-sider-area {
  width: 100%;
  position: fixed;
  div.main-sider {
    display: flex;
    align-items: center;

    .sidebar {
      position: fixed;
      left: 0;
      top: 40px;
      width: 80px;
      height: calc(100% - 40px);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 35px;
      padding-top: 30px;

      .icon {
        color: #b0b0b0;

        font-size: 25px;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
          color: #747474;
        }
        &:active {
          transform: scale(1.2);
        }
        i {
          display: inline-flex;

          justify-content: center;
          &.has-notifications {
            position: relative;
            .notification-dot {
              display: inline-block;
              width: 10px;
              height: 10px;
              background-color: red;
              border-radius: 50%;
              position: absolute;
              top: -5px;
              right: -10px;
              animation: bounce-stretch 0.6s infinite ease-in-out;
            }
          }
        }
      }
    }
  }
}

@keyframes bounce-stretch {
  0%,
  100% {
    transform: translateY(0) scale(1, 1);
  }
  25% {
    transform: translateY(-10px) scale(1.1, 0.9);
  }
  50% {
    transform: translateY(0) scale(0.9, 1.1);
  }
  75% {
    transform: translateY(-5px) scale(1.05, 0.95);
  }
}

.create-post-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 90px;
  height: 70px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  color: #333;

  &:hover {
    background-color: #f8f8f8;
  }
}

section.postsContainer {
  .no-data {
    display: flex;
    justify-content: center;
    align-self: center;
    .no-data-message {
      width: 600px;
      padding: 20px;
      text-align: center;
      color: #9a9a9a;
      height: 200px;
      background-color: $bg-color;
      padding-top: 150px;
      border-radius: 0 0 20px 20px;
    }
  }

  .indivisial-area {
    display: flex;
    justify-content: center;
    cursor: pointer;

    .post {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "content"
        "stats";

      background-color: $bg-color;
      border: 0.01px solid $border-color;
      border-radius: 0;

      width: 600px;

      padding: 20px;
      box-shadow: 0 0.01px 0.01px rgba(0, 0, 0, 0.1);

      .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .user-info-post {
          display: flex;
          align-items: center;
          .profile-pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            font-size: 40px;
            color: #d7d7d7;

            margin-right: 10px;
          }
          a:link {
            text-decoration: none;
          }
          a:hover {
            color: rgb(110, 110, 110);
          }

          .account_id {
            font-size: 16px;
            color: $font-color;
            font-weight: bold;
            margin-right: 10px;
          }
          .created_at {
            font-size: 16px;
            color: #b0b0b0;
            font-weight: 100;
          }
        }
        .menu-button {
          position: relative;
          cursor: pointer;

          i {
            font-size: 20px;
            color: #9b9b9b;
          }
          &:hover {
            background-color: #d2d2d2;
          }

          .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            list-style: none;
            padding: 0;
            margin: 0;
            z-index: 1000;
            width: 150px;

            .menu-item {
              padding: 10px;
              cursor: pointer;
              text-align: left;
              &:hover {
                background-color: #f0f0f0;
              }

              &#delete-post {
                color: red;
              }
            }
          }
        }
      }

      .post-content {
        font-size: 14px;
        color: $font-color;
        margin-bottom: 10px;
        padding-left: 50px;
        .text {
          margin-bottom: 10px;
        }
        .media img,
        .media video {
          max-width: 100%;
          max-height: 500px;
          height: auto;
          width: auto;
          border-radius: 10px;
        }
      }
      .post-stats {
        display: flex;
        justify-content: flex-start;
        padding-left: 50px;

        color: #666;
        gap: 20px;

        .stat {
          display: flex;
          align-items: center;
          gap: 10px;
          i {
            font-size: 20px;
          }

          span {
            margin-right: 5px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.signin-mask {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  z-index: 1000;

  form.signin {
    height: 275px;
    width: 340px;
    box-shadow: 0px 4px 60px 0px #aaaaaa;
    border-radius: 6px;
    margin: 0 auto;

    .sign-content {
      background: #f0f4f8;

      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      .decorator-bar {
        height: 80px;
        // background: linear-gradient(270deg, #a8a8a8 0%, #c2c2c2 100%);
        background-image: url("../images/image/threatter.png");
        background-position: center;
        background-size: 120%;
        border-radius: 6px 6px 0 0;
        margin-bottom: 20px;
      }

      .close {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .close-signin {
          background: none;
          border: none;
          padding: 0;
          cursor: pointer;
          img {
            cursor: pointer;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 15px;
            top: -5px;
            transition: transform 0.1s ease-in-out;
            &:active {
              transform: scale(1.2);
            }
          }
        }

        h1 {
          color: #666666;
          font-size: 24px;
          margin: 0;
          text-align: center;
          flex-grow: 1;

          font-family: Noto Sans TC;
          font-size: 24px;
          font-weight: 300;
          line-height: 24px;
          text-align: center;
        }
      }

      .main {
        padding: 15px;

        input[type="email"],
        input[type="text"],
        input[type="password"] {
          width: 93%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #cccccc;
          border-radius: 5px;
          color: #757575;

          &:focus {
            border-color: #757575;
            outline: none;
          }
        }

        .signin-button,
        .go-to-signup {
          width: 100%;
          padding: 10px;
          margin-bottom: 5px;
          background-color: #a8a8a8;
          color: #ffffff;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: darken(#908f8f, 10%);
          }
        }

        .go-to-signup {
          background-color: #f0f4f8;
          color: #666666;
          text-decoration: none;

          &:hover {
            background-color: darken(#f8f9fa, 10%);
          }
        }
      }
    }
  }
}

.signup-mask {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  z-index: 1000;

  form.signup {
    width: 340px;
    height: auto;
    box-shadow: 0px 4px 60px 0px #aaaaaa;
    border-radius: 6px;
    margin: 0 auto;
    background: #f0f4f8;

    .signup-content {
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 100%;

      .decorator-bar {
        height: 80px;
        // background: linear-gradient(270deg, #a8a8a8 0%, #c2c2c2 100%);
        background-image: url("../images/image/threatter.png");
        background-position: center;
        background-size: 120%;
        border-radius: 6px 6px 0 0;
        margin-bottom: 20px;
      }

      .close {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        button.close-signup {
          background: none;
          border: none;
          padding: 0;
          cursor: pointer;
          img {
            cursor: pointer;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 15px;
            top: -5px;
            transition: transform 0.1s ease-in-out;
            &:active {
              transform: scale(1.2);
            }
          }
        }

        h1 {
          color: #666666;
          font-size: 24px;
          margin: 0;
          text-align: center;
          flex-grow: 1;
          font-family: Noto Sans TC;
          font-weight: 300;
          line-height: 24px;
        }
      }

      .main {
        padding: 15px;

        input[type="email"],
        input[type="text"],
        input[type="password"] {
          width: 93%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #cccccc;
          border-radius: 5px;
          color: #757575;

          &:focus {
            border-color: #757575;
            outline: none;
          }
        }

        .signup-button,
        .go-to-signin {
          width: 100%;
          padding: 10px;
          margin-bottom: 5px;
          background-color: #a8a8a8;
          color: #ffffff;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: darken(#908f8f, 10%);
          }
        }

        .go-to-signin {
          background-color: #f0f4f8;
          color: #666666;
          text-decoration: none;

          &:hover {
            background-color: darken(#f8f9fa, 10%);
          }
        }
      }
    }
  }
}

section.member-self-area {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  .profile-header {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    padding: 20px 20px 0 20px;

    background-color: $bg-color;
    border: 1px solid $border-color;
    width: 600px;
    .profile-info {
      display: flex;
      justify-content: center;
      margin: 10px;

      .profile-avatar {
        width: 80px;
        height: 80px;

        border-radius: 50%;
        overflow: hidden;

        .profile-pic {
          border-radius: 50%;
          object-fit: cover;
          font-size: 80px;
          color: #d7d7d7;
          border-radius: 50%;
          margin-right: 10px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .profile-details {
        flex-grow: 1;

        .user-name {
          font-size: 24px;
          font-weight: bold;
          margin: 0;
        }

        .user-account-id {
          font-size: 16px;
          color: #888;
        }
        a {
          color: #252525;
        }
        a:link {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }

        .user-fans {
          margin: 10px 0;
          color: #888;

          p {
            margin: 0;
          }
        }
      }
    }
    .follow-profile-button {
      margin: 10px;
      button {
        width: 100%;
        padding: 5px 10px;
        font-weight: 500;
        border: 0.5px solid #2d2d2d;
        border-radius: 5px;
        color: #ffffff;
        background: #2d2d2d;
        cursor: pointer;
        transition: color 0.2s;
        transition: transform 0.2s ease;

        &:hover {
          background: #f2f2f2;
          color: #2d2d2d;
          border: 0.5px solid #f2f2f2;
        }
        &:active {
          transform: scale(1.1);
        }
      }
    }
    .edit-profile-button {
      margin: 10px;
      button {
        width: 100%;
        padding: 5px 10px;
        font-weight: 500;
        border: 0.5px solid #dbdbdb;
        border-radius: 5px;
        background: #fff;
        cursor: pointer;
        transition: color 0.2s;
        transition: transform 0.2s ease;

        &:hover {
          background: #f2f2f2;
        }
        &:active {
          transform: scale(1.1);
        }
      }
    }
    .profile-nav {
      display: flex;
      justify-content: center;

      .nav-button {
        width: 100%;
        background: none;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        color: #555;
        border-bottom: 1px solid transparent;
        transition: color 0.2s;
        transition: transform 0.2s ease;

        &.active {
          border-bottom-color: #333;
          font-weight: bold;
        }

        &:hover {
          color: #333;
        }
        &:active {
          transform: scale(1.1);
        }
      }
    }
  }
}

.edit-profile-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .edit-profile-content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px;
    text-align: center;

    .edit-profile-form {
      .name-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .form-group {
        margin-bottom: 10px;
        text-align: left;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
        }

        input[type="text"],
        textarea {
          width: 100%;
          padding: 8px;
          border: 1px solid #ddd;
          border-radius: 5px;
          box-sizing: border-box;
        }

        textarea {
          resize: none;
          height: 60px;
        }

        &.name-avatar {
          display: flex;
          justify-content: space-between;

          .name {
            flex: 1;
            margin-right: 20px;
          }

          .edit-profile-avatar {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;

            .profile-pic,
            .avatar-img {
              font-size: 50px;
              width: 100%;
              height: 100%;
              object-fit: cover;

              border-radius: 50%;
              object-fit: cover;
              color: #d7d7d7;
            }
          }
        }

        &.privacy-toggle {
          display: flex;
          align-items: center;
          justify-content: space-between;

          label {
            margin: 0;
          }

          input[type="checkbox"] {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
      }

      .save-button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #949494;
        color: #fff;
        cursor: pointer;
        font-size: 16px;

        &:hover {
          background-color: #c1c1c1;
        }
      }
    }
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #777777;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

section.single-postsContainer {
  .indivisial-area {
    display: flex;
    justify-content: center;

    .post {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "content"
        "stats";

      background-color: $bg-color;
      border: 0.01px solid $border-color;
      border-radius: 10px 10px 0 0;

      width: 600px;

      padding: 20px;
      box-shadow: 0 0.01px 0.01px rgba(0, 0, 0, 0.1);

      .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .user-info-post {
          display: flex;
          align-items: center;
          .profile-pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            font-size: 40px;
            color: #d7d7d7;

            margin-right: 10px;
          }
          a:link {
            text-decoration: none;
          }
          a:hover {
            color: rgb(110, 110, 110);
          }

          .account_id {
            font-size: 16px;
            color: $font-color;
            font-weight: bold;
            margin-right: 10px;
          }
          .created_at {
            font-size: 16px;
            color: #b0b0b0;
            font-weight: 100;
          }
        }
        .menu-button {
          position: relative;
          cursor: pointer;

          i {
            font-size: 20px;
            color: #9b9b9b;
          }
          &:hover {
            background-color: #d2d2d2;
          }

          .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            list-style: none;
            padding: 0;
            margin: 0;
            z-index: 1000;
            width: 150px;

            .menu-item {
              padding: 10px;
              cursor: pointer;
              text-align: left;
              &:hover {
                background-color: #f0f0f0;
              }

              &#delete-post {
                color: red;
              }
            }
          }
        }
      }

      .post-content {
        font-size: 14px;
        color: $font-color;
        margin-bottom: 10px;
        padding-left: 50px;
        .text {
          margin-bottom: 10px;
        }
        .media img,
        .media video {
          max-width: 100%;
          max-height: 500px;
          height: auto;
          width: auto;
          border-radius: 10px;
        }
      }
      .post-stats {
        display: flex;
        justify-content: flex-start;
        padding-left: 50px;

        color: #666;
        gap: 20px;

        .stat {
          display: flex;
          align-items: center;
          gap: 10px;
          i {
            font-size: 20px;
          }

          span {
            margin-right: 5px;
            font-size: 14px;
          }
        }
      }
    }
    .message {
      border-radius: 0;
    }
  }
}

section.reply-header {
  .reply-title {
    display: flex;

    justify-content: center;
    .no-data {
      display: flex;
      justify-content: center;
      align-self: center;
      .no-data-message {
        width: 600px;
        padding: 20px;
        text-align: center;
        color: #9a9a9a;
        height: 200px;
        background-color: $bg-color;
        padding-top: 150px;
        border-radius: 0 0 20px 20px;
      }
    }
    .reply {
      width: 600px;
      background-color: $bg-color;
      border: 0.01px solid $border-color;
      // border-radius: 10px 10px 0 0;

      padding: 20px;
      box-shadow: 0 0.01px 0.01px rgba(0, 0, 0, 0.1);
    }
  }
}

section.single-CommentContainer {
  .indivisial-area {
    display: flex;
    justify-content: center;

    .post {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "content"
        "stats";

      background-color: $bg-color;
      border: 0.01px solid $border-color;
      border-radius: 0;

      width: 600px;

      padding: 20px;
      box-shadow: 0 0.01px 0.01px rgba(0, 0, 0, 0.1);

      .post-header,
      .reply-area-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        .user-info-post,
        .user-info-reply {
          display: flex;
          align-items: center;
          .profile-pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            font-size: 40px;
            color: #d7d7d7;

            margin-right: 10px;
          }
          a:link {
            text-decoration: none;
          }
          a:hover {
            color: rgb(110, 110, 110);
          }

          .account_id {
            margin-right: 10px;
            font-size: 16px;
            color: $font-color;
            font-weight: bold;
          }
          .created_at {
            font-size: 16px;
            color: #b0b0b0;
            font-weight: 100;
          }
        }
        .menu-button {
          position: relative;
          cursor: pointer;

          i {
            font-size: 20px;
            color: #9b9b9b;
          }
          &:hover {
            background-color: #d2d2d2;
          }

          .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            list-style: none;
            padding: 0;
            margin: 0;
            z-index: 1000;
            width: 150px;

            .menu-item {
              padding: 10px;
              cursor: pointer;
              text-align: left;
              &:hover {
                background-color: #f0f0f0;
              }

              &#delete-post {
                color: red;
              }
            }
          }
        }
      }

      .post-content,
      .reply-content {
        font-size: 14px;
        color: $font-color;
        margin-bottom: 5px;
        padding-left: 50px;
        .text {
          margin-bottom: 10px;
        }
        .media img,
        .media video {
          max-width: 100%;
          max-height: 500px;
          height: auto;
          width: auto;
          border-radius: 10px;
        }
      }
      .post-stats,
      .reply-stats {
        display: flex;
        justify-content: flex-start;
        padding-left: 50px;
        margin-bottom: 10px;

        color: #666;
        gap: 20px;

        .stat {
          display: flex;
          align-items: center;
          gap: 10px;
          i {
            font-size: 20px;
          }

          span {
            margin-right: 5px;
            font-size: 14px;
          }
        }
      }
    }
    .reply-area {
      // padding: 10px;
      border-left: 1px solid #e1e1e1;
      margin-left: 20px;
      padding-left: 30px;
      // background-color: #f9f9f9;

      .reply-arear-header .user-info-reply .reply-account_id {
        color: #cbcbcb;
      }
    }
    .reply-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      font-size: 40px;
      color: #d7d7d7;

      margin-right: 10px;
    }
  }
}

section.fans-follow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  z-index: 1000;

  .follower-container {
    width: 500px;
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .follower-header {
      display: flex;
      justify-content: space-around;
      padding: 10px;
      border-bottom: 1px solid #e0e0e0;

      .tab {
        flex: 1;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        font-weight: bold;
        color: #999;
        position: relative;

        &.active {
          color: #525151;
          border-bottom: 2px solid #636363;
        }

        .count {
          display: block;
          margin-top: 5px;
          font-size: 14px;
          color: #888;
        }
      }
    }

    .follower-lists {
      max-height: 650px;
      overflow-y: auto;

      .follower-list {
        &.active {
          display: block;
        }
        display: none;

        .no-data {
          display: flex;
          justify-content: center;
          align-self: center;
          .no-data-message {
            width: 600px;
            padding: 20px;
            text-align: center;
            color: #9a9a9a;
            height: 200px;
            background-color: $bg-color;
            padding-top: 150px;
            border-radius: 0 0 20px 20px;
          }
        }

        .list-item {
          display: flex;
          align-items: center;
          padding: 20px;
          border-bottom: 1px solid #e0e0e0;

          &:last-child {
            border-bottom: none;
          }

          .profile-pic,
          .list-profile-pic {
            width: 40px;
            height: 40px;
            font-size: 40px;
            color: $gray-border;
            border-radius: 50%;
            margin-right: 10px;

            object-fit: cover;
          }

          .list-user-info {
            flex: 1;

            a {
              color: #252525;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }

            .list-username {
              font-weight: bold;
            }

            .list-user-fullname {
              color: #888;
              font-size: 14px;
            }
          }

          .list-follow-btn {
            background: #fff;
            color: #333;
            padding: 10px 20px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-weight: bold;
            cursor: pointer;

            &:hover {
              background-color: #ebebeb;
            }
            &:active {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

section.notify-area {
  display: flex;
  // align-items: center;
  justify-content: center;
  // width: 100%;

  .notify-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    background-color: $bg-color;
    border: 1px solid $border-color;
    width: 600px;

    .notify-nav {
      display: flex;
      justify-content: center;

      .nav-button {
        width: 100%;
        background: none;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        color: #555;
        border-bottom: 1px solid transparent;
        transition: color 0.2s;
        transition: transform 0.2s ease;

        &.active {
          border-bottom-color: #333;
          font-weight: bold;
        }

        &:hover {
          color: #333;
        }

        &:active {
          transform: scale(1.1);
        }
      }
    }

    .notify-lists {
      // max-height: 650px;
      overflow-y: auto;

      .notify-list {
        display: none;
        .no-data-message {
          padding: 50px;
          text-align: center;
          color: #9a9a9a;
          height: 200px;
          background-color: $bg-color;
        }

        &.active {
          display: block;
        }

        .list-item {
          display: flex;
          align-items: center;
          padding: 20px;
          border-bottom: 1px solid #e0e0e0;
          .created_at {
            color: #aaaaaa;
          }

          .content_area {
            flex: 3;
            .hint_area {
              color: #aaaaaa;
            }
            .content {
            }
            .reply {
              color: #aaaaaa;
            }
            a {
            }
          }

          &:last-child {
            border-bottom: none;
          }

          .profile-pic,
          .list-profile-pic {
            width: 40px;
            height: 40px;
            font-size: 40px;
            color: $gray-border;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
          }
          .action-buttons {
            display: flex;
            gap: 12px;

            .accept-btn,
            .reject-btn {
              padding: 6px 14px;
              border-radius: 8px;

              cursor: pointer;
              font-size: 14px;
            }

            .accept-btn,
            .reject-btn {
              background: #fff;
              color: #505050;
              padding: 10px 20px;
              border-radius: 8px;
              border: 1px solid #ccc;
            }

            .accept-btn:hover,
            .reject-btn:hover {
              opacity: 0.8;
            }
            :active {
              transform: scale(1.1);
            }
          }

          .list-user-info {
            flex: 1;

            a {
              color: #252525;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }

            .list-username {
              font-weight: bold;
            }

            .list-user-fullname {
              color: #888;
              font-size: 14px;
            }
          }

          .list-follow-btn {
            background: #fff;
            color: #333;
            padding: 10px 20px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-weight: bold;
            cursor: pointer;

            &:hover {
              background-color: #ebebeb;
            }

            &:active {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

.notify-area {
  .notify-header {
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .notify-nav {
      display: flex;
      justify-content: space-around;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;

      .nav-button {
        flex: 1;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        font-size: 16px;
        color: #555;
        background: none;
        border: none;

        &.active {
          border-bottom: 2px solid #000;
          color: #000;
          font-weight: bold;
        }
      }
    }

    .notify-lists {
      overflow-y: auto;

      .notify-list {
        display: none;

        &.active {
          display: block;
        }

        .indivisual-list {
          display: block !important;
          padding: 20px;
          border-bottom: 1px solid #ddd;

          &:last-child {
            border-bottom: none;
          }

          .header-area {
            display: flex;
            align-items: center;

            .hint_area {
              color: #888;
              text-align: center;
              i {
                margin-right: 10px;
              }
              i.fa-user-plus {
                color: #888888;
              }
              i.fa-heart {
                color: #ff0000;
              }
              i.fa-reply {
                color: rgb(0, 79, 159);
              }
            }

            .profile-pic {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 10px;
            }

            .list-user-info {
              flex: 1;

              .list-username {
                font-weight: bold;
                margin-bottom: 5px;
              }

              .list-user-fullname {
                color: #aaaaaa;

                white-space: nowrap;
              }
            }

            .created_at {
              font-size: 12px;
              color: #999;
              width: 10%;
              text-align: center;
            }

            .list-follow-btn {
              background: #fff;
              border: 1px solid #ddd;
              padding: 8px 15px;
              border-radius: 5px;
              margin-right: 20px;
              cursor: pointer;

              &:hover {
                background: #f1f1f1;
              }
            }
          }

          .content_area {
            margin-top: 10px;
            margin-left: 50px;

            .content {
              margin-bottom: 5px;
            }

            .reply {
              color: #666;
              margin-top: 5px;
            }

            a {
              display: inline-block;
              color: #333;
              text-decoration: none;
              font-size: 14px;
              margin-top: 5px;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

section.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .search-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    background-color: $bg-color;
    border: 1px solid $border-color;
    width: 600px;

    .search-info {
      .search-box {
        display: flex;
        align-items: center;
        border-radius: 20px;
        background-color: #f5f5f5;
        padding: 10px;
        i {
          padding: 10px;
          font-size: 18px;
          color: #cdcdcd;
        }
        i:hover {
          color: #717171;
        }
        i:active {
          transform: scale(1.1);
        }

        input {
          width: 100%;
          border: none;
          outline: none;
          background: transparent;
          padding: 10px;
          font-size: 16px;
          border-radius: 20px;

          &::placeholder {
            color: #aaa;
          }
        }
      }
    }

    .search-nav {
      display: flex;
      justify-content: center;
    }

    .search-lists {
      // max-height: 650px;
      overflow-y: auto;

      .search-list {
        display: none;
        .no-data-message {
          padding: 50px;
          text-align: center;
          color: #9a9a9a;
          height: 200px;
          background-color: $bg-color;
        }

        &.active {
          display: block;
        }

        .list-item {
          display: flex;
          align-items: center;
          justify-content: center;

          padding: 20px;
          border-bottom: 1px solid #e0e0e0;

          &:last-child {
            border-bottom: none;
          }

          .profile-pic,
          .list-profile-pic {
            width: 40px;
            height: 40px;
            font-size: 40px;
            color: $gray-border;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
          }

          .list-user-info {
            flex: 1;

            a {
              color: #252525;
              text-decoration: none;
              margin-bottom: 10px;

              &:hover {
                text-decoration: underline;
              }
            }

            .list-account-id {
              font-weight: bold;
            }

            .list-user-fullname {
              color: #888;
              font-size: 14px;
            }
          }

          .list-follow-btn {
            width: 120px;
            background: #fff;
            color: #333;
            padding: 10px 20px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-weight: bold;
            cursor: pointer;

            &:hover {
              background-color: #ebebeb;
            }

            &:active {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
